absl-py==0.8.0
astor==0.8.0
attrs==19.1.0
colorama==0.4.1
cycler==0.10.0
Cython==0.29.13
docopt==0.6.2
gast==0.3.1
google-pasta==0.1.7
grpcio==1.23.0
h5py==2.10.0
jsonpickle==0.9.6
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
Markdown==3.1.1
matplotlib==3.1.1
munch==2.3.2
numpy==1.17.2
packaging==19.1
pandas==0.25.1
Pillow==6.2.0
protobuf==3.9.1
py-cpuinfo==5.0.0
py-spy==0.1.11
pycocotools==2.0.0
pymongo==3.9.0
pyparsing==2.4.2
python-dateutil==2.8.0
pytz==2019.2
sacred==0.7.5
six==1.12.0
tensorboard==1.14.0
tensorflow-estimator==1.14.0
tensorflow-gpu==1.15.4
termcolor==1.1.0
Werkzeug==0.15.6
wrapt==1.11.2
